.DS_Store
ejdbkit.xcworkspace/xcuserdata
ejdbkit.xcworkspace/xcuserdata/*.xcuserdatad
ejdbkit.xcworkspace/xcuserdata/*.xcuserdatad/xcschemes
ejdbkit.xcodeproj/xcuserdata
ejdbkit.xcodeproj/project.xcworkspace/xcuserdata
EJDBKit/EJDBKit.xcodeproj/xcuserdata
EJDBKit/EJDBKit.xcodeproj/xcuserdata/*.xcuserdatad
EJDBKit/EJDBKit.xcodeproj/xcuserdata/*.xcuserdatad/xcschemes/
EJDBKit/ejdb/
EJDBKit/build
EJDBKit/coverage
EJDBKit/EJDBKit-Mac/EJDBKit-Mac.xcodeproj/project.xcworkspace/xcuserdata
EJDBKit/EJDBKit-Mac/EJDBKit-Mac.xcodeproj/xcuserdata/
docs
