.DS_Store
ejdbkit.xcworkspace/xcuserdata
ejdbkit.xcworkspace/xcshareddata/ejdbkit.xccheckout
ejdbkit.xcodeproj/xcuserdata/*.*
ejdbkit.xcodeproj/project.xcworkspace/xcuserdata/*.*
EJDBKit/ejdb/
EJDBKit/build
EJDBKit/coverage
docs
Demos/IOSDemo/IOSDemo.xcodeproj/project.xcworkspace/xcshareddata/IOSDemo.xccheckout
